---
const {src, title, description, technologies, href} = Astro.props;
---

<article class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
    <img src={src} alt={title} class="w-full rounded-md">

    <div>
        <h3 class="text-violet-500 uppercase tracking-wider text-sm font-medium">{title}</h3>

        <p class="text-sm font-semibold">{description}</p>

        <p class="text-gray-400">{technologies}</p>

        <a href={href} class="flex mt-4 items-center gap-2 rounded bg-primary w-32 p-1 text-sm hover:text-violet-900">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                <path d="M12.597 17.981a9.467 9.467 0 0 1 -.597 .019c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6c-.205 .342 -.415 .67 -.63 .983"></path>
                <path d="M16 22l5 -5"></path>
                <path d="M21 21.5v-4.5h-4.5"></path>
             </svg>

             Visualizar
        </a>
    </div>
</article>

