---
const {project} = Astro.props;
---

<div class="card w-full bg-base-100 shadow-xl">
    <figure><img src={project.imageSrc} alt={project.title} /></figure>
    <div class="card-body">
      <h2 class="card-title">{project.title}</h2>
      <p class="text-sm font-semibold mt-5">{project.description}</p>
      <p class="text-gray-400 mt-5 text-xs md:text-sm">{project.technologies}</p>
      <div class="card-actions justify-end">
        <a href={project.link} class="mt-5 block">
            <button class="btn btn-outline btn-primary">Ver proyecto</button>
        </a>
      </div>
    </div>
</div>










