---
const {project} = Astro.props;
---

<div class="rounded-xl overflow-hidden w-full bg-base-100 shadow-xl">
    <figure><img src={project.imageSrc} alt={project.title} /></figure>
    <div class="card-body p-6">
      <h2 class="card-title">{project.title}</h2>
      <p class="text-sm font-semibold mt-5">{project.description}</p>
      <p class="text-gray-400 mt-5 text-xs md:text-sm">{project.technologies}</p>
      <div class="card-actions justify-end">
        <a href={project.link} class="mt-5 block text-right">
            <button class="px-3 py-2 text-sm duration-100 border border-indigo-600 rounded-lg hover:bg-indigo-600 hover:text-white active:shadow-lg">Ver proyecto</button>
        </a>
      </div>
    </div>
</div>










